
  .container{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    border: 1px solid rgb(135, 131, 131);
    border-radius: 10px;
    padding: 2rem;
}
.container-item{
    margin-bottom: -4rem;
}

.custom-content {
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
    max-width: 470px;
    margin: 0 auto 10vh;
}

.custom-content form {
    width: 100%;
}

.custom-content h1{
    text-align: center;
    font-size: 30px;
    margin: 0 0 0 -2px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: #141c3a;
    letter-spacing: -.5px;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.global-button {
    width: 100%;
    padding: 20px;
    line-height: 1; 
    margin-bottom: 10px;
}

.global-button:hover{
    background-color: #0cc288;
    color: white;
}
small.global-question {
    font-weight:500;
    display: block;
}

.mail_field{
    display: flex;
    flex-direction: column;
}

mat-icon {
    margin-right: 10px;
}