<div class="container">
    <div class="container-item">
        <div class="custom-container">
            <div class="custom-content">
                <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
                    <h1>Get Your Password</h1>
                    <div class="mail_field form-group">
                        <mat-form-field appearance="outline">
                            <mat-label for="forgotPassword">Email address</mat-label>
                            <input matInput id="forgotPassword" type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Enter your Email">
                            <mat-icon matPrefix>email</mat-icon>
                            <mat-hint style="color: red;" *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button class="global-button" color="primary" type="submit">Get Password</button>
                    <small class="global-question">Have not an account? <button mat-button color="accent"
                            (click)="openDialogSignup()">Sign up</button></small>
                </form>
            </div>
        </div>
    </div>
</div>



                    